@model Sistema_de_Viajes_FarSiman.Models.Trip

@{
    ViewData["Title"] = "CreateTrip";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Registrar Viaje</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateTrip">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="id" class="control-label"></label>
                <input asp-for="id" class="form-control" />
                <span asp-validation-for="id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="branch_id" class="control-label"></label>
                <input type="che" asp-for="branch_id" class="form-control" />
                <span asp-validation-for="branch_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="driver_id" class="control-label"></label>
                <input asp-for="driver_id" class="form-control" />
                <span asp-validation-for="driver_id" class="text-danger"></span>
            </div>
               <div class="form-group">
                <label asp-for="user_id" class="control-label"></label>
                <input asp-for="user_id" class="form-control" />
                <span asp-validation-for="user_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="trip_date" class="control-label"></label>
                <input asp-for="trip_date" class="form-control" />
                <span asp-validation-for="trip_date" class="text-danger"></span>
            </div>
            <div class="form-group">
                 <input type="submit" value="Siguiente" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@*<div>
    <a asp-action="CreateTrip">Back to List</a>
</div>*@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}