@model Sistema_de_Viajes_FarSiman.Models.Employee_Branch

@{
    ViewData["Title"] = "DeleteEmployeBranch";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Borrar Asignacion</h1>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.employee_id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.branch_id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.distance_km)
        </dd>
    </dl>
    
    <form asp-action="DeleteEmployeBranch">
        <input type="hidden" asp-for="id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="EmployeeBranchTable">Back to List</a>
    </form>
</div>
