@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
    <div class="alert alert-success" role="alert">
    ¡Guardado exitosamente en la base de datos!
</div>
<div>
    <a class="btn btn-primary" asp-action="CreateTrip" >Volver a Formulario</a>
</div>